*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
} 

.container{
    background: linear-gradient(to bottom right,aqua,blue,green,red,yellow,grey);
    width:100vw;
    height:100vh;
   display: flex;
   justify-content: center;
   align-items: center; 
 }
 .content
 {
    flex-basis: 30%; 
    font-size: large;
    display: flex;
    justify-content:center;
    align-items: center; 
    font-family:  sans-serif;
 }
 .Box{ 
    flex-basis: 50%;
    height:600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns:repeat(3,1fr)
    grid-tempelate-rows:repeat(3,1fr); 

 }

       
.box{  
    width: 40;
    height: auto;
    border: 2px solid rgb(245, 245, 251); 
    background-position: top;
    transition: all 1s ease;
    background: rgba(34, 34, 34, 0.8);
    background-blend-mode: hard-light;
    }     
    #box1
    {
    grid-column-start:1 ;
    grid-column-end: span 3;
    }

    #box2
    {
  grid-row-start: 2;
  grid-row-end: span 2;
    }

    #box4
    {
     
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: span 2;
    }
 #box6
    {
       grid-column-start: 1;
        grid-column-end: span 2;
    }
 .box:hover
 {
    background: rgb(172, 151, 151);
    background-position:center;
 }
  